# macOS system files
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS junk
Thumbs.db
ehthumbs.db
Desktop.ini
